<div class="commande-header">
  <!-- Titre -->
  <div class="header-left">
    <h1>Création de commande client</h1>
    <p class="subtitle">Saisie et validation de la commande</p>
  </div>

  <!-- Infos client -->
  <div class="header-center">
    <!-- <div class="info-block">
      <span class="label">Client</span>
      <span class="value"> {{ client?.cuno }} - {{ client?.name }} </span>
    </div> -->

    <div class="info-block">
      <span class="label">Date:</span>
      <span class="value">
        {{ today | date : "dd/MM/yyyy" }}
      </span>
    </div>
  </div>
</div>
