.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  background-color: #eafefc;
  border-top: 1px solid #e5e7eb;
  font-size: 14px;
  color: #6b7280;
}

.footer-left {
  font-weight: 900;
}

.footer-right {
  font-style: italic;
  color: #9ca3af;
}
